<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JPMail</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <link rel="stylesheet" href="style.css" >
  </head>
  <body ng-app="Webmail" ng-controller="WebmailController">

<div class="container">



    <ul class="nav nav-pills spacer">
      <li ng-repeat="folder in folders"
      ng-class="{ active: folder == currentFolder }"
      ng-click="selectFolder(folder)"><a href="#">{{ folder.label }}</a></li>
      <li ng-click="showForm()" ng-class="{active: activeForm == true}"><a href="#">Ecrire un Mail</a></li>
    </ul>

<br><br>


<div ng-show="activeForm == true" >
  <form ng-submit="treatForm($event)">
    <input name="from" type="text" class="form-control" placeholder="Expéditeur" ng-model="newMail.from" required><br>
    <input name="to" type="text" class="form-control" placeholder="Destinataire" ng-model="newMail.to" required><br>
    <input name="object" type="text" class="form-control" placeholder="Objet" ng-model="newMail.object" required><br>
    <textarea name="content" class="form-control" rows="3" placeholder="Ecrivez votre mail ici ..." ng-model="newMail.content" required></textarea><br>
    <button type="submit" class="btn btn-info" style="text-align:right">Envoyer le Mail</button>
    <h2>{{writtenMail ? writtenMail : ''}}</h2>
  </form>
</div>


<div ng-show="currentFolder != null">


    <table class="table table-striped table-hover">
      <thead>
          <tr>
            <th>De</th>
            <th>Pour</th>
            <th>Objet</th>
            <th>Date</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="email in currentFolder.emails" class="clickable" ng-click="selectEmail(email)">
            <td>{{ email.from }}</td>
            <td>{{ email.to }}</td>
            <td>{{ email.object }}</td>
            <td><button type="button" class="btn btn-sm btn-info" ng-click="removeMail(email)">Supprimer le Mail</button></td>
          </tr>
      </tbody>
    </table>


    <div  class="alert alert-info">Le dossier contient {{ nbMails }} mails.</div>

<div ng-show="currentEmail != null">

    <div class="well">
      <h1>{{ currentEmail.subject }}</h1>
      <p><label>De : </label><span>{{ currentEmail.from }}</span></p>
      <p><label>&Agrave; : </label><span>{{ currentEmail.to }}</span></p>
      <p><label>Date: </label><span>{{ currentEmail.date }}</span></p>
    </div>

    {{ currentEmail.content }}

</div>
</div>
</div>



    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script></script>
  </body>
</html>
